.miniset {

    &-tabs {
        font-size: 12px;
        display: flex;
        margin-bottom: -1px;
    }

    &-tab {
        font-size: 12px;
        border-width: 1px;
        border-color: #dde3e9;
        border-radius: 3px 3px 0 0;
        background-color: white;
        position: relative;
        z-index: 1;
        &:not(:first-child) {
            border-left: 0;
        }
        &-active {
            border-bottom-color: transparent;
            background-color: #fafcff;
        }
    }

    &-select {
        display: block;
        padding: 0.25rem 0.7rem;
        &-removeable {
            padding-right: calc(6px + 1rem);
        }
    }

    &-remove {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 4px 4px 2px;
    }
    
    &-add {
        font-size: 12px;
        border-width: 1px 1px 0 1px;
        border-color: transparent;
        padding: 0 0.25rem 2px 0.25rem;
    }
        
    &-groups {
        border-width: 1px;
        border-color: #dde3e9;
        border-radius: 3px;
        background-color: #fafcff;
        position: relative;
    }
    &-tabs + &-groups {
        border-top-left-radius: 0;
    }

    &-create {
        position: absolute;
        inset: 0;
        background-color: #fafcff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        &-variants {
            display: flex;
            gap: 0.5em;
        }
    }

}

.miniset-compact {

    .publish-fields {
        padding: 0.4rem !important;
    }

    .publish-field {
        padding: 0.3rem !important;
    }   
    
    .button_group-fieldtype,
    .checkboxes-fieldtype,
    .radio-fieldtype,
    .range-fieldtype,
    .select-fieldtype,
    .toggle-fieldtype,
    .text-fieldtype,
    .textarea-fieldtype {
        font-size: 12px !important;
        * {
            font-size: inherit !important;
        }
        > label {
            line-height: 0.8 !important;
            margin-bottom: 7px !important;
        }
        .help-block {
            line-height: 0.8 !important;
            margin-top: 7px !important;
            margin-bottom: 7px !important;
            &:last-child {
                margin-bottom: 0 !important;
            }
            p {
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
    
    .button_group-fieldtype {
        .btn-group {
            height: 1.625rem !important;
        }
        .btn {
            padding: 3px 6px !important;
            height: 1.625rem !important;
            box-shadow: none !important;
        }
    }
    
    .checkboxes-fieldtype,
    .radio-fieldtype {
        .option {
            margin-top: 4px !important;
            margin-bottom: 0 !important;
            &:first-child {
                margin-top: 0 !important;
            }
        }
    }
    
    .range-fieldtype {
        &-wrapper {
            padding: 3px 8px !important;
            > div {
                div:first-child,
                input + div + div {
                    line-height: 16px !important;                    
                }
                input + div {
                    margin: 0 0 0 8px !important;
                    padding: 1px 4px !important;
                    line-height: 14px !important;
                }
            }
        }
    }

    .select-fieldtype {
        .vs__dropdown-toggle {
            height: 1.625rem !important;
            background-color: white !important;
        }
        .vs__clear {
            height: 1.625rem !important;      
        }
        .vs__open-indicator {
            height: 1.625rem !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }
        .vs__selected-options {
            padding: 4px 6px !important;
        }
        .vs__selected-options-outside {
            .vs__selected {
                margin-top: 4px !important;
                margin-right: 4px !important;
                padding-top: 1px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
                line-height: 16px !important;
            }
            .vs__deselect {
                margin-top: -1px !important;
            }
        }
        .vs__dropdown-menu {
            top: 30px !important;
        }
        .vs__dropdown-option {
            padding: 4px 6px !important;
        }
    }
    
    .toggle-fieldtype {
        .toggle-fieldtype-wrapper {
            height: 1.625rem !important;
        }
    }
    
    .text-fieldtype {
        .input-group {
            height: 1.625rem !important;
        }
        .input-group-prepend,
        .input-group-append {
            height: 1.625rem !important;
            line-height: 1.375 !important;
            padding: 4px 6px !important;
        }
        .input-text {
            padding: 4px 6px !important;
            height: 1.625rem !important;
            background-color: white !important;
        }
    }
    
    .textarea-fieldtype {
        .input-text {
            padding: 4px 6px !important;
            background-color: white !important;
        }
    }

    .publish-field {
        @container (min-width: 20rem) {
            &.\@lg\:w-1\/4 {
                width: 50% !important;
            }
            &.\@lg\:w-1\/2 {
                width: 50% !important;
            }
        }
        @container (min-width: 30rem) {
            &.\@lg\:w-1\/3 {
                width: 33.333% !important;
            }
        }
        @container (min-width: 40rem) {
            &.\@lg\:w-1\/4 {
                width: 25% !important;
            }
        }
    }

}
