@import "@statamic/cms/tailwind.css";
@source "../js/components";

@layer components {

    .miniset {

        .miniset-tabs {
            @apply text-xs flex -mb-px;
        }

        .miniset-tab {
            @apply text-xs border border-gray-300 rounded-t-sm bg-white relative z-10;

            .dark & {
                @apply border-gray-950 bg-gray-800;
            }

            &:not(:first-child) {
                @apply border-l-0;
            }

            &.miniset-tab-active {
                @apply border-b-transparent bg-gray-50;

                .dark & {
                    @apply bg-gray-900;
                }
            }
        }

        .miniset-select {
            @apply block py-1 px-3;

            &.miniset-select-removeable {
                padding-right: calc(6px + 1rem);
            }
        }

        .miniset-remove {
            @apply absolute top-0 right-0;
            padding: 5px 4px 4px 2px;
        }

        .miniset-add {
            @apply text-xs border-t border-x border-transparent px-1 pb-0.5;
        }

        .miniset-groups {
            @apply border border-gray-300 rounded-lg bg-gray-50;

            .dark & {
                @apply border-gray-950 bg-gray-900;
            }
        }

        .miniset-tabs + .miniset-groups {
            @apply rounded-tl-none;
        }

        .miniset-create {
            @apply rounded-sm flex items-center justify-center p-4 z-10 bg-gray-50;

            .dark & {
                @apply bg-gray-900;
            }

            .miniset-create-variants {
                @apply flex flex-wrap justify-center gap-2;
            }
        }

    }

    .miniset-compact {

        @apply p-3! gap-3!;

        [data-ui-label] {
            @apply mb-1!;
        }

        [data-ui-field-text] {
            @apply mb-1!;
        }

        .button_group-fieldtype {

            [data-ui-button-group] {
                @apply align-top;
            }

            [data-ui-button-group] > button {
                @apply h-6! py-1.5! px-2! text-xs! gap-1.5!;
                &:first-child {
                    @apply rounded-l-md!;
                }
                &:last-child {
                    @apply rounded-r-md!;
                }
            }

        }

        .checkboxes-fieldtype,
        .radio-fieldtype {

            [data-ui-radio-item],
            [data-ui-input] > div {
                @apply mb-0.5! last:mb-0!;
            }

        }

        .range-fieldtype {

            > div:last-child > div {
                @apply px-0! !py-0.75 rounded-md! gap-1.5!;
            }

            input[type="range"] {
                @apply h-4!;
            }

            [data-ui-badge] {
                @apply text-2xs! leading-4! px-1!;
            }

        }

        .select-fieldtype {

            [data-ui-combobox-trigger] {
                @apply h-6! px-2! text-xs! rounded-md!;
            }

            [data-ui-combobox-clear-button] {
                @apply -mr-2!;
            }

            [data-ui-combobox-selected-options] {
                @apply gap-1!;
            }

            [data-ui-combobox-selected-options] .sortable-item {
                @apply mt-1!;
            }

            [data-ui-combobox-selected-options] [data-ui-badge] {
                @apply text-2xs! leading-5! p-1.5!;
            }

        }

        .toggle-fieldtype {

            button[data-ui-control] {
                @apply my-1;
            }

            [data-ui-switch] {
                @apply h-4! w-7!;
            }

            [data-ui-switch] span {
                @apply size-3!;
            }

        }

        .text-fieldtype {

            input[data-ui-control] {
                @apply h-6! py-1.5! px-2! text-xs! rounded-md!;
            }

        }

        .textarea-fieldtype {

            textarea[data-ui-control] {
                @apply py-1.5! px-2! text-xs! rounded-md!;
            }

        }

        .form-group {

            @container panel (min-width: 20rem) {
                &.field-w-25 {
                    --col-span: 6;
                }
                &.field-w-50 {
                    --col-span: 6;
                }
            }

            @container panel (min-width: 30rem) {
                &.field-w-33 {
                    --col-span: 4;
                }
            }

            @container panel (min-width: 40rem) {
                &.field-w-25 {
                    --col-span: 3;
                }
            }

        }

    }
}